body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  td {
    vertical-align: middle;
  }
  
  .bg-steel {
    background-color: #d1e7dd;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #000000;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #000000;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .navbar-brand {
    color: #000000;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

.form-group {
  padding: 4px;
}

.form-control-file{
  width: 100%;
  padding: 20px;
  border: 4px dashed gray;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

.profile-pic-Mixed {
  background-color: #D3D3D3;
}
.profile-pic-Fields {
  background-color: #e4f599;
}
.profile-pic-Forest {
  background-color: #1b5216;
}
.profile-pic-Pasture {
  background-color: #49d644;
}
.profile-pic-Custom {
  background-color: #233aa1;
}
.profile-pic-Rocky {
  background-color: #3a3a3a;
}
.profile-pic-Swamp {
  background-color: #683939;
}
.profile-pic-Plain {
  background-color: #8396ff;
}
.profile-pic-Special {
  background-color: #f8f523;
}
.profile-pic-Unknown {
  background-color: #ffffff;
}

.bollard-list-title-div {
  text-align: right;
}

.bollard-list-title {
  float: left;
}

.bollard-list-add-button {
  float: right;
}

.btn-float-right {
  float: right;
}

.image-list-div {
  display: block;
}

.with-bg-size {
  width: 200px;
  height: 200px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  object-fit: cover;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #d1e7dd;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.welcome-card {
  width: 306px; 
  padding: 3px;
  margin: 5px;
}

#bollardmap { height: 420px; }