{% extends "base.html" %}
{% block content %}
  <h1>Bollards List</h1>
  <table class="table">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Comment</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      {% for bollard in bollards %}
        <tr>
          <td><img class="media-body profile-pic p-1" src="{{ url_for('static', filename='img/bollards_icon/' + bollard.image_icon) }}"></td>
          <td style="vertical-align: middle;"><b>Bollard No {{bollard.number}}</b></td>
          <td>{{bollard.b_name}}</td>
          <td>{{bollard.comment}}</td>
          <td><a href="{{ url_for('manage', bollard_id=bollard.id) }}"><button class="btn btn-primary">Edit</button></a></td>
          <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        
      {% endfor %}
      </tr>
    </table>
  {% endblock content %}