{% extends "base.html" %}
{% block content %}
  <h1>Bollards List</h1>
  <table style="border: 1px solid black;">
      <tr style="border: 1px solid black;">
        <th style="border: 1px solid black;">Number</th>
        <th style="border: 1px solid black;">Name</th>
        <th style="border: 1px solid black;">Comment</th>
        <th style="border: 1px solid black;">Edit</th>
        <th style="border: 1px solid black;">Delete</th>
      </tr>
      {% for bollard in bollards %}
        <tr style="border: 1px solid black;">
          <td style="border: 1px solid black;"><b>Bollard No {{bollard.number}}</b></td>
          <td style="border: 1px solid black;">{{bollard.name}}</td>
          <td style="border: 1px solid black;">{{bollard.comment}}</td>
          <td style="border: 1px solid black;"><button>Edit</button></td>
          <td style="border: 1px solid black;"><button>Delete</button></td>
        </tr>
        
      {% endfor %}
      </tr>
    </table>
  {% endblock content %}