{% extends "base.html" %}
{% block content %}
    {% if title == 'Add' %}
    <h1>New Bollard</h1>
    {% else %}
    <h1>Manage Bollard</h1>
    {% endif %}
    <div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.number.label(class="form-control-label") }}

                    {% if form.number.errors %}
                        {{ form.number(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                        <div class="invalid-feedback">
                            {% for error in form.number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.number(class="form-control form-control-lg", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.b_name.label(class="form-control-label") }}

                    {% if form.b_name.errors %}
                        {{ form.b_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}

                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.main_image.label() }} <br/>
                    {{ form.main_image(class="form-control-file") }}
                    {% if form.main_image.errors %}
                        {% for error in form.main_image.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.images.label() }} <br/>
                    {{ form.images(class="form-control-file dropzone") }}
                    {% if form.images.errors %}
                        {% for error in form.images.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
            
        </form>
    </div>
{% endblock content %}