{% extends "base.html" %}
{% block content %}
    <div class="row" style="vertical-align: middle;">
        {% if title == 'Add' %}
            <h1 style="float: left;">New Bollard</h1>
        {% else %}
            <div class="col-sm">
                <h1>Manage Bollard</h1>
            </div>
            <div class="col-sm">
                <div class="float-right">
                    <img class="media-body profile-pic float-right" src="{{ url_for('static', filename='img/bollards_icon/' + bollard.image_icon) }}">
                </div>
                
            </div>
        {% endif %}
    </div>
    
    <div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    <span style="display: inline-block; vertical-align: top;">
                        {{ form.b_number.label(class="form-control-label") }}

                        {% if form.b_number.errors %}
                            {{ form.b_number(class="form-control form-control-sm is-invalid", autocomplete="off") }}
                            <div class="invalid-feedback">
                                {% for error in form.b_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.b_number(class="form-control form-control-sm", autocomplete="off") }}
                        {% endif %}
                    </span>
                    <span style="display: inline-block; vertical-align: top;">
                        {{ form.b_letter.label(class="form-control-label") }}

                        {% if form.b_letter.errors %}
                            {{ form.b_letter(class="form-control form-control-sm is-invalid", autocomplete="off") }}
                            <div class="invalid-feedback">
                                {% for error in form.b_letter.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.b_letter(class="form-control form-control-sm", autocomplete="off") }}
                        {% endif %}
                    </span>
                </div>
                <div class="form-group">
                    {{ form.b_type.label(class="form-control-label") }}

                    {% if form.b_type.errors %}
                        {{ form.b_type(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_type(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.b_name.label(class="form-control-label") }}

                    {% if form.b_name.errors %}
                        {{ form.b_name(class="form-control form-control-sm is-invalid", autocomplete="off") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_name(class="form-control form-control-sm", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}

                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-sm is-invalid", autocomplete="off") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-sm", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.b_lat.label(class="form-control-label") }}

                    {% if form.b_lat.errors %}
                        {{ form.b_lat(class="form-control form-control-sm is-invalid", id="manage-b-lat", autocomplete="off") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_lat.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_lat(class="form-control form-control-sm", id="manage-b-lat", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.b_lng.label(class="form-control-label") }}

                    {% if form.b_lng.errors %}
                        {{ form.b_lng(class="form-control form-control-sm is-invalid", id="manage-b-lon", autocomplete="off") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_lng.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_lng(class="form-control form-control-sm", id="manage-b-lon", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="manage-map-div p-3">
                    <div id="bollardmap"></div>
                </div>
                <div class="form-group">
                    {{ form.main_image.label() }} <br/>
                    {{ form.main_image(class="form-control-file") }}
                    {% if form.main_image.errors %}
                        {% for error in form.main_image.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.images.label() }} <br/>
                    {{ form.images(class="form-control-file dropzone") }}
                    {% if form.images.errors %}
                        {% for error in form.images.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.zoom_level(id="last-zoom-level") }}
                </div>
                <br/>
                <div class="form-group">
                    <span>{{ form.submit(class="btn btn-outline-success") }}</span>
                    <span><a href="{{ url_for('bollards.list_bollards') }}"><div class="btn btn-outline-secondary btn-float-right">Cancel</div></a></span>
                </div>
            </fieldset>
            
        </form>
        <!--Delete images part (separated to have multiple form method Post)-->
        {% if bollard and bollard.images[0] %}
            <hr>
            <h2 id="manage-pictures-section">Manage Pictures</h2>
            <div class="row">
                {% for img in bollard.images %}
                    <div class="card m-1" style="width: 230px;">
                        <a href="{{ url_for('static', filename='img/bollards/' + img.uri) }}" target="_blank">
                            <img class="card-img-top with-bg-size" src="{{ url_for('static', filename='img/bollards/' + img.uri) }}" alt="{{ img.uri }}">
                        </a>
                        <div class="card-body">
                            <p class="card-title">{{ img.uri }}</p>
                            <form action="{{ url_for('bollards.delete_image', bimage_id=img.id, bollard_id=bollard.id) }}" method="POST">
                                
                                <input id="btn-delete-{{ img.id }}" type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            
        {% endif %}
    </div>

    <!--Leaflet javascript file-->
    <script src="{{url_for('static', filename='leaflet_map.js')}}", ilat="{{ init_lat }}", ilng="{{ init_lng }}", izoom="{{ init_zoom }}", pagetype="{{ title }}"></script>
{% endblock content %}