{% extends "base.html" %}
{% block content %}
    <div class="row" style="vertical-align: middle;">
        {% if title == 'Add' %}
            <h1 style="float: left;">New Bollard</h1>
        {% else %}
            <div class="col-sm">
                <h1>Manage Bollard</h1>
            </div>
            <div class="col-sm">
                <div class="float-right">
                    <img class="media-body profile-pic float-right" src="{{ url_for('static', filename='img/bollards_icon/' + bollard.image_icon) }}">
                </div>
                
            </div>
        {% endif %}
    </div>
    
    <div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.b_number.label(class="form-control-label") }}

                    {% if form.b_number.errors %}
                        {{ form.b_number(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_number(class="form-control form-control-lg", autocomplete="off", autofocus=true) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.b_name.label(class="form-control-label") }}

                    {% if form.b_name.errors %}
                        {{ form.b_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}

                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.b_lat.label(class="form-control-label") }}

                    {% if form.b_lat.errors %}
                        {{ form.b_lat(class="form-control form-control-lg is-invalid", id="manage-b-lat") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_lat.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_lat(class="form-control form-control-lg", id="manage-b-lat") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.b_lng.label(class="form-control-label") }}

                    {% if form.b_lng.errors %}
                        {{ form.b_lng(class="form-control form-control-lg is-invalid", id="manage-b-lon") }}
                        <div class="invalid-feedback">
                            {% for error in form.b_lng.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.b_lng(class="form-control form-control-lg", id="manage-b-lon") }}
                    {% endif %}
                </div>
                <div class="manage-map-div p-3">
                    <div id="bollardmap"></div>
                </div>
                <div class="form-group">
                    {{ form.main_image.label() }} <br/>
                    {{ form.main_image(class="form-control-file") }}
                    {% if form.main_image.errors %}
                        {% for error in form.main_image.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.images.label() }} <br/>
                    {{ form.images(class="form-control-file dropzone") }}
                    {% if form.images.errors %}
                        {% for error in form.images.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.zoom_level(id="last-zoom-level") }}
                </div>
                <div class="form-group">
                    <span>{{ form.submit(class="btn btn-outline-success") }}</span>
                    <span><button class="btn btn-outline-secondary btn-float-right">Cancel</button></span>
                </div>
            </fieldset>
            
        </form>
    </div>

    <!--Leaflet javascript file-->
    <script src="{{url_for('static', filename='leaflet_map.js')}}", ilat="{{ init_lat }}", ilng="{{ init_lng }}", izoom="{{ init_zoom }}", pagetype="{{ title }}"></script>
{% endblock content %}