<h1>Bollards List</h1>
<table style="border: 1px solid black;">
    <tr >
      <th>Number</th>
      <th>Name</th>
      <th>Comment</th>
    </tr>
    <tr>
      <td>Bollard No 1</td>
      <td>Vitiaux</td>
      <td>This is the first comment of the bollard. Please like, subscribe and share</td>
      <td><button>Edit</button></td>
      <td><button>Delete</button></td>
    </tr>
    <tr>
        <td>Bollard No 2</td>
        <td></td>
        <td>This is the second comment of the bollard. Please like, subscribe and share</td>
        <td><button>Edit</button></td>
      <td><button>Delete</button></td>
    </tr>
  </table>